/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/*** Buttons ***/

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  height: 44px;
  font-family: $font__heading;
  font-size: 16px;
  font-weight: 400;
  border-radius: 2px;
  border: 2px solid $color__btn-default;
  text-decoration: none;
  @include desktop {
    height: 56px;
    font-size: 22px;
    border-radius: 4px;
  }
}

/* Link Buttons */

.link-btn-wrapper {
  .btn-primary {
    color: $color__btn-primary-text;

    &:focus {
      border-color: $color__btn-focus;
      background-color: $color__btn-focus;
    }
    &:hover {
      border-color: $color__btn-hover;
      background-color: $color__btn-hover;
    }
    &:disabled {
      border-color: $color__btn-disabled;
      background-color: $color__btn-disabled;
    }
  }
}

.link-btn-wrapper {
  .btn-secondary {
    color: $color__btn-default;
  
    &:focus {
      border-color: $color__btn-focus;
      color: $color__btn-focus;
    }
    &:hover {
      border-color: $color__btn-hover;
      color: $color__btn-hover;
    }
    &:disabled {
      border-color: $color__btn-disabled;
      color: $color__btn-disabled;
    }
  }
}

/* Button Sizes */

.btn-small {
  width: 108px;
  @include desktop {
    width: 120px;
  }
}
.btn-medium {
  width: 108px;
  @include desktop {
    width: 168px;
  }
}
.btn-large {
  width: 128px;
  @include desktop {
    width: 220px;
  }
}

/* Button Colours */

.btn-primary {
  background-color: $color__btn-default;
  color: $color__btn-primary-text;
  border-radius: 5px;

  &:focus {
    border-color: $color__btn-focus;
    background-color: $color__btn-focus;
  }
  &:hover {
    border-color: $color__btn-hover;
    background-color: $color__btn-hover;
  }
  &:disabled {
    border-color: $color__btn-disabled;
    background-color: $color__btn-disabled;
  }
}

.btn-secondary {
  background-color: $color__background-body;
  color: $color__btn-default;

  &:focus {
    border-color: $color__btn-focus;
    color: $color__btn-focus;
  }
  &:hover {
    border-color: $color__btn-hover;
    color: $color__btn-hover;
  }
  &:disabled {
    border-color: $color__btn-disabled;
    color: $color__btn-disabled;
  }
}

/*** Fields ***/

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='tel'],
textarea {
  background-color: $color__input-background;
  color: $color__input-text;
  font-family: $font__body;
  font-size: 20px;
  height: 44px;

  &:hover {
    border: 2px solid $color__brand-purple;
    border-radius: 2px;
  }
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='tel'] {
  padding: 3px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}

/* Dropdown */

.dropdown {
  background-color: $color__input-background;
  color: $color__input-text;
  font-family: $font__body;
  font-size: 20px;
  .dropdown-item {
    &:hover {
      background-color: rgba(139, 31, 126, 0.5);
    }
  }
}
