// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 15) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Media Screens
@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin short {
  @media (min-height: 650px) {
    @content;
  }
}

@mixin medium {
  @media (min-height: 750px) {
    @content;
  }
}

@mixin tall {
  @media (min-height: 1000px) {
    @content;
  }
}

@mixin page-container {
  margin:0 4*$base__space-unit;
  background-color:grey;
}

@mixin text-container {
  margin: 0 13*$base__space-unit;
  background-color:yellow;
}