// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 15) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Media Screens
@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

// Heights for Main Content
@mixin short {
  @media (min-height: 650px) {
    @content;
  }
}

@mixin medium {
  @media (min-height: 750px) {
    @content;
  }
}

@mixin tall {
  @media (min-height: 1000px) {
    @content;
  }
}

// General Containers
@mixin page-container {
  margin:0 $base__space-unit;
  @include desktop {
    margin:3*$base__space-unit 4*$base__space-unit;
  }
}

@mixin text-container {
  @include desktop {
    margin: 3*$base__space-unit 4*$base__space-unit;
  }
}

@mixin full-width {
  @include desktop {
    margin:3*$base__space-unit 0;
  }
}