/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

/* load font files (EOT, WOFF and WOFF2)
 * oswald
 *   - regular
 *   - bold
 *   - semibold
 * raleway
 *   - regular
 *   - medium
 *   - bold
 */
@import '../../fonts/stylesheet.css';

@mixin font-headline {
  font-family: $font__heading;
  font-weight: normal;
  color:$color__headline
}

@mixin font-body {
  font-family: $font__body;
  font-size: 16px;
  color: $color__text-main;
  line-height: $font__line-height-body;
}

html,
body,
button,
input,
select,
textarea {
  @include font-body;
}

h1 {
  @include font-headline;
  font-size: 24px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

h3 {
  @include font-headline;
  font-size: 26px;
  font-weight: bold;
}

h4 {
  @include font-body;
  font-size:22px;
  font-weight:normal;
  text-transform:uppercase;
  color: $color__brand-dark-gray;
  margin:0;
}

p {
  margin-bottom: $base__space-unit;
}
