/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

@mixin font-headline {
  font-family: $font__heading;
  font-weight: 700;
}

@mixin font-body {
  font-family: $font__body;
  color: $color__text-main;
  font-size: 16px;
  line-height: $font__line-height-body;
}

html,
body,
button,
input,
select,
textarea {
  @include font-body;
}

p {
  margin-bottom: $base__space-unit;
}

blockquote {
  margin: 0 $base__space-unit;
}

address {
  margin: 0 0 $base__space-unit;
}

h1 {
  @include font-headline;
  font-size: 24px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-size: 26px;
  font-weight: bold;
}
