// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-body: #fff;
$color__text-main: #2C2C2C;

$color__background-screen: #f1f1f1;
$color__text-screen: #2C2C2C;
$color__background-hr: #ccc;

$color__link: #2C2C2C;
$color__link-visited: #2C2C2C;
$color__link-hover: #8B1F7E;

$color__headline: #171717;
$color__brand-purple:#8B1F7E;
$color__brand-gray:#BEBEBE;

// Typography

$font__body: 'Raleway', Helvetica, Arial, sans-serif;
$font__heading: 'Oswald','Montserrat', sans-serif;
$font__heading-accent:'Raleway', Helvetica, Arial, sans-serif;
$font__line-height-body: 1.5;
