// Structure

$base__space-unit: 1.5rem;
$header_height: 11/3 * $base__space-unit;
$footer_height: $base__space-unit * 3;

// Colors

$color__brand-black: #171717;
$color__brand-purple: #8b1f7e;
$color__brand-gray: #bebebe;
$color__brand-dark-gray: #8b8b8b;
$color__brand-white: #fff;

$color__background-body: #fff;
$color__text-main: #2c2c2c;
$color__headline: $color__brand-black;
$color__headline-white: $color__brand-white;

$color__background-screen: #f1f1f1;
$color__text-screen: #2c2c2c;
$color__background-hr: #ccc;
$color__background-dark: #2c2c2c;

$color__link: #2c2c2c;
$color__link-visited: #2c2c2c;
$color__link-hover: #8b1f7e;

$color__btn-default: $color__brand-purple;
$color__btn-focus: #99488f;
$color__btn-hover: #7e3575;
$color__btn-disabled: $color__brand-dark-gray;
$color__btn-primary-text: #fff;

$color__input-background: rgba(190, 190, 190, 0.8);
$color__input-text: rgba(23, 23, 23, 0.8);

$color__text-background: rgba(255, 255, 255, 0.65);

// Typography

$font__body: 'Raleway', Helvetica, Arial, sans-serif;
$font__heading: 'Oswald', sans-serif;
$font__heading-accent: $font__body;
$font__line-height-body: 1.5;

// Media

$tablet-width: 600px;
$desktop-width: 1080px;
$wide_screen-width: 1500px;

// Styling

$img_box-shadow: 0 0.5rem 0.5rem -0.25rem $color__background-dark;
