/*--------------------------------------------------------------
# Artist library
--------------------------------------------------------------*/

.artist-library__container {
  position: absolute;
  top: $header_height;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.artist-library__scroll-container {
  position: relative;
  min-height: 440px;

  @include tablet {
    padding: 0 4 * $base__space-unit;
  }

  .slick-slide {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: none;
      border-radius: 10px;
      box-shadow: 0 0.5rem 0.5rem -0.25rem $color__text-main;
      transition: transform 0.4s ease-in-out;
      margin: 3 * $base__space-unit 0;
    }

    &:focus img {
      opacity: 0.8;
    }
  }

  // displayed cards
  .slick-active img {
    transform: scale(1.2);
  }

  // single centered card
  .slick-center img {
    transform: scale(1.5);
    z-index: 1;
  }
}

.artist-libary {
  width: 80%;
  max-width: $desktop-width;
  margin: 0 auto;
}

.artist-library__search-container {
  margin: 1rem 5rem 3rem 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .artist-library__search-input {
    background: none;
    border: none;
    border-bottom: 1px solid $color__headline;
    color: $color__text-main;
  }
}

.artist-library__search-icon {
  margin: 0 0.5rem;
}

.artist-library__not-found {
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  opacity: 0.2;
}

.artist-library__action {
  position: absolute;
  top: 40%;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.artist-library__action--prev {
  left: 0;
}

.artist-library__action--next {
  right: 0;
}

.artist-library__action-icon--s {
  @include desktop {
    display: none;
  }
}

.artist-library__action-icon--l {
  display: none;

  @include desktop {
    display: initial;
  }
}

.artist-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.artist-card__link {
  display: inline-block;
  margin: 0 auto;
}

.artist-card__img-container {
  height: 210px;
  width: 140px;
  margin-bottom: 100px;

  @include tablet {
    height: 300px;
    width: 200px;
  }
}

.artist-card__title,
.artist-card__genre {
  text-align: center;
  white-space: nowrap;
}

.artist-card__title {
  margin: 0;
  text-transform: uppercase;
}

.artist-card__genre {
  margin: 0 0 $base__space-unit 0;
  padding: 0;
}
