/*--------------------------------------------------------------
# Contact Page
--------------------------------------------------------------*/

.page-id-14 {
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border-width: 0;
    padding: 0;

    @include desktop {
      position: relative;
      width: 700px;
      height: 420px;
      transform: translateY(13%);
    }
  }
  form {
    position: relative;
    top: 80vh;
    background-color: #fff;
    text-align: center;

    @include desktop {
      position: initial;
    }
  }

  textarea {
    width: 420px;
    height: 150px;
  }
}
.grazi {
  @include desktop {
    display: flex;
    justify-content: space-around;
  }
}
