/*--------------------------------------------------------------
# Contact Page
--------------------------------------------------------------*/

.container-contact {
  @include pad--h;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include desktop {
    flex-wrap: unset;
    & * + * {
      margin-left: $base__space-unit;
    }
  }
  pre {
    flex-basis: 100%;
    height: calc(100vh - #{$footer_height});

    @include desktop {
      flex-basis: 50%;
    }
  }
  iframe {
    position: relative;
    width: 100%;

    @include desktop {
      height: 500px;
      transform: translateY(13%);
    }
  }
}

.page-id-14 {
  .wpcf7 {
    background-color: #fff;
    margin: 0 auto;

    @include desktop {
      position: initial;
    }
  }
}
textarea {
  width: 420px;
  height: 150px;
}

.header-contact {
  display: none;
  @include desktop {
    display: inline;
  }
}
.container-contact {
  @include desktop {
    display: flex;
    justify-content: space-evenly;
  }
}
