.page-id-55 {
  .header-container {
    @include desktop {
      flex-direction: row-reverse;
    }
  }
}

.donate-container {
  @include desktop {
    display: flex;
    flex-direction: row;
    width: 80%;
  }
}
.donate-container2 {
  @include desktop {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
  }
}

.wrap-photo {
  position: relative;
}
.side-text {
  @include desktop {
    width: 500px;
    transform: translateX(50%);
    padding-top: 7rem;
  }
}
.side-text2 {
  @include desktop {
    width: 500px;
    transform: translateX(-20%);
    padding-top: 7rem;
  }
}
.donate-title {
  text-align: center;
}

.wrap-photo {
  position: relative;
}
.donate-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;

  @include desktop {
    width: 300px;
    height: 300px;
    transform: translateY(15%);
    max-width: none;
  }
}
.ball-a {
  height: 90px;
  width: 90px;
  background-image: linear-gradient(#baa2b7, #d8d8d8);
  border-radius: 50%;
  display: flex;
  position: relative;
  z-index: -1;

  @include desktop {
    height: 190px;
    width: 190px;
  }
}
.ball-b {
  height: 150px;
  width: 150px;
  background-image: linear-gradient(#baa2b7, #d8d8d8);
  border-radius: 50%;
  display: flex;
  position: relative;
  z-index: -1;
  transform: translateX(60%);

  @include desktop {
    height: 250px;
    width: 250px;
    transform: translateX(50%);
  }
}
.ball-a1 {
  height: 150px;
  width: 150px;
  background-image: linear-gradient(#baa2b7, #d8d8d8);
  border-radius: 50%;
  display: flex;
  position: relative;
  transform: translateX(60%);
  z-index: -1;
  @include desktop {
    height: 250px;
    width: 250px;
    transform: translateX(50%);
  }
}
.ball-b1 {
  height: 100px;
  width: 100px;
  background-image: linear-gradient(#baa2b7, #d8d8d8);
  border-radius: 50%;
  display: flex;
  transform: translateY(-20%);
  position: relative;
  z-index: -1;
  @include desktop {
    height: 200px;
    width: 200px;
  }
}
