/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/

.home-main {
  height: 100vh;
  background-size: cover, cover;
  background-repeat: no-repeat;
  background-position: top;
}

.home-container {
  width: 100vw;
  @include desktop {
    position: absolute;
    top: 4.5rem;
  }
}

.content-front-page {
  position: absolute;
  width: 100vw;
  bottom: 14%;
  background: rgba(255, 255, 255, 0.8);
  @include desktop {
    width: unset;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font__heading;
    h1,
    p{
      color: #000000;
    }
    h1 {
      @include font-headline--xl;
      font-weight: 900;
    }
    p {
      max-width: 60%;
      text-align: center;
    }
    div {
      margin-bottom: 1.5rem;
      a {
        padding: 0.5rem 1rem;
      }
    }
  }

  @include desktop {
    position: relative;

    .content-container {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 0 auto;
      align-items: flex-start;

      header {
        margin-top: 1.5rem;
      }
      h1 {
        text-transform: uppercase;
      }
      p {
        max-width: 100%;
        margin-bottom: 6rem;
      }
      div {
        align-self: center;
      }
    }
  }
}
