.page-id-26 {
  article {
    text-align: center;
  }
  .main-navigation {
    justify-content: flex-end;
    margin-right: 5%;
    margin-top: 5%;

    .menu-toggle {
      position: unset;
    }
  }
  .logo-link-involved {
    border: none;
    border-radius: 50%;
    width: fit-content;
    background-image: linear-gradient(#b4b4b4, #fff);
    &:hover {
      background-image: linear-gradient(#b079aa, #d8d8d8);
    }
  }
  .logo-link-involved3 {
    width: 145px;
    border: none;
    border-radius: 50%;
    height: 145px;
    background-image: linear-gradient(#b4b4b4, #fff);
    &:hover {
      background-image: linear-gradient(#b079aa, #d8d8d8);
    }
  }
  a {
    text-decoration: none;
  }
  .btnfaq {
    width: 300px;
    margin-bottom: 0.5rem;
    background-color: #fff;
    border: none;
    border-bottom: solid, 4px, #e9d4e6;
  }
  li {
    list-style-type: none;
  }
  ul {
    margin: 0 auto;
    padding-inline-start: 0;
  }
}
