.not-found{
    height: 100vh;
    background-color: #dddddd;
    .front-container{
        display: inline-block;
        width: 100%;
        img{
            position: absolute;
            top: 35%;
            left: 15%;
        }
        div{
            position: absolute;
            top: 55%;
            right: 20%;
            p{
                color: #ffffff;
                text-transform: uppercase;
            }
        }
    }
}
