/*--------------------------------------------------------------
# Search-result Page
--------------------------------------------------------------*/
.search-results {
    main {
        
        background-color: #2c2c2c;
        @include short {
            max-height: 79vh;
        }
        @include medium {
            max-height: 82vh;
        }
        @include tall {
            max-height: 86vh;
        }

        .search-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            width: 80%;
            color: white;
            a {
                color: inherit;
            }

            article {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 1rem auto;
                width: 80%;
                border: 1px solid #ffffff;
                p {
                    text-align: center;
                }
            }
        }
    }
}