/*--------------------------------------------------------------
# Single artist
--------------------------------------------------------------*/

.single-artist {
  .page-container {
    @include page-container;
  }
  .text-container {
    @include text-container;
  }
  .bio {
    @include desktop {
      max-width: 600px;
    }
    h2,
    p {
      text-align: left;
    }
    h3 {
      @include desktop {
        text-align: left;
      }
    }
  }
  .artist-hero {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: top center;
    .artist-header-bio {
      background-color: $color__text-background;
      position: absolute;
      z-index: 5;
      bottom: 0;
      @include desktop {
        background-color: transparent;
        color: $color__background-body;
        right: 10px;
        bottom: 50px;
      }
      h2 {
        font-size: 36px;
        @include desktop {
          text-decoration: underline;
        }
      }
    }
  }
  .artist-intro {
    p {
      text-align: left;
      @include desktop {
        text-align: center;
      }
    }
  }
  iframe {
    height: 450px;
    margin: 0 auto;
    @include tablet {
      width: 800px;
      border-radius: 10px;
      overflow: hidden;
    }
  }

  .artist-text-main {
    @include desktop {
      display: flex;
    }
    .artist-text-item {
      @include desktop {
        width: 50%;
      }
    }

    .full-name {
      text-transform: uppercase;
    }
    .underline {
      display: block;
      margin: 0 auto;
    }
    .artist-img {
      @include desktop {
        width: 50%;
      }
      img {
        border-radius: 15px;
        box-shadow: $img_box-shadow;
      }
    }
  }

  .artist-socials {
    p {
      text-transform: capitalize;
      text-align: center;
      margin-top: 3rem;
    }
    .social-links {
      display: flex;
      justify-content: space-between;
      list-style: none;
    }
  }
}
