/*--------------------------------------------------------------
# Enroll
--------------------------------------------------------------*/

.enroll {
  margin: 2 * $base__space-unit 0;
  .enroll-main {
    @include desktop {
      display: flex;
    }
    @include wide-screen {
      margin: 0 2*$base__space-unit;
    }
    .enroll-img {
      margin: $base__space-unit 0;
      @include desktop {
        width: 60%;
      }
      img {
        border-radius: 10px;
        box-shadow: $img_box-shadow;
      }
    }
    .enroll-text {
      @include desktop {
        display:flex;
        justify-content:center;
        width: 40%;
        margin: 2*$base__space-unit 4*$base__space-unit;
      }
    }
  }
}
