/* general styling */

.program-details-page {
  h2 {
    font-size:38px;
    @include font_headline;
    font-weight: bold;
    @include desktop {
      font-size: 48px;
    }
  }
  h3 {
    @include font_headline;
    font-weight: bold;
    @include desktop {
        font-size: 32px;
    }
  }
  .program-container {
    @include tablet {
      @include page-container;
    }
  }
  .program-text-container {
    @include tablet {
      @include text-container;
    }
  }
}
