/* terms & conditions */

.terms-conditions {
  background-color: $color__brand-gray;
  padding: $base__space-unit;
  .terms-text-container {
    text-align: left;
    font-family: Arial, sans-serif;
  }
}
