/* training */

.program-details-training {
  text-align: center;

  .training-core-main {
    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .training-core {
    margin: 20px 0;
    // max-width: 550px;
    .core-img {
      display: block;
      margin: 2.5rem auto;
    }
    .core-text {
      // width: 400px;
      margin: 0 auto;
      text-align: left;
    }
  }
}
